<body id="loginPage">
    <header>
        <nav class="navbar navbar-light">
            <div class="container-fluid top-header">
                <a class="navbar-brand" href="http://localhost:3000">
                    <img src="../public/assets/_arrow-left.png" alt="back">
                </a>
                <span class="navbar-brand">
                    <img src="../public/assets/logo-suit.png" alt="logo">
                </span>
                <span class="top-tittle">ROCK PAPER SCISSORS</span>
            </div>
        </nav>
    </header>
