<%- include('partial/loginHead') %>
<body id="loginPage">
    <header>
        <nav class="navbar navbar-light">
            <div class="container-fluid top-header">
                <a class="navbar-brand" href="http://localhost:3000/user/login">
                    <img src="../public/assets/_arrow-left.png" alt="back">
                </a>
                <span class="navbar-brand">
                    <img src="../public/assets/logo-suit.png" alt="logo">
                </span>
                <span class="top-tittle">ROCK PAPER SCISSORS</span>
            </div>
        </nav>
    </header>

    <main class="login-wrong text-center">
        <div class="row justify-content-center wrong">
            <div class="col-8">
                <h1>You input the <span style="color: red !important;">WRONG</span> Username and Password!!</h1>
            </div>
        </div>
        <div class="row justify-content-center correct">
            <div class="col-8">
                <h4>Please input the correct <span style="color: #F9B23D !important;">USERNAME</span>  and <span style="color: #F9B23D !important;">PASSWORD</span></h4>
            </div>
        </div>
    </main>


</body>

</html>