<%- include('partial/loginHead') %>
<%- include('partial/loginNavbar') %>
    
    <h1>LOGIN</h1>
    <form action="/login" method="post">
        <section>
            <label for="username">Username</label>
            <input id="username" name="username" type="text" autocomplete="username" required autofocus>
        </section>
        <section>
            <label for="current-password">Password</label>
            <input id="current-password" name="password" type="password" autocomplete="current-password" required>
        </section>
        <a href="http://localhost:3000/room/create">
            <button type="submit">LOGIN</button>
        </a>
    </form>

</body>

</html>